.header{
    margin-top: 60px;
   
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Dancing Script';
    font-weight: 400;
    color: rgb(199, 201, 202);
    font-size: 18px;
}

.HeaderTitleSm{
    position: absolute ;
    top: 53%;
    font-size: 36px;
    color: rgb(105, 100, 100);
    
}

.HeaderTitleLg{
    position: absolute;
    top: 37%;
    font-size: 70px;
    
}



.headerImg{
    width: 100%;
    height: 420px;
    margin-top: 0;
    object-fit: cover;
    margin-bottom: 20px;
}